/* 表單的樣式 */

main .input-group-text {
    background: var(--color-primary);
    color: var(--color-bg);
    border: 1px solid var(--color-primary);
}

main .form-select,
main .form-control {
    background-color: var(--color-border);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}


main .form-control:focus,
main .form-select:focus {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border-color: var(--color-text-inverse);
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 .15rem rgba(63, 114, 175, 0.8);
}